body {
    font-family: 'Roboto', sans-serif, Arial;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: capitalize;
    color: darkslategrey;
}

h1 {
    font-size: 48px;
    font-weight:400;
}

h2 {
    font-size: 22px;
    font-weight: 700;
}

/* Header */
header {
    width:100%;
    height: 100px;
    background-color:darkslategrey;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

    header h1 {
        font-size: 36px;
        font-weight: 900;
        padding: 20px;
        display: flex;
        color: white;
    }

    nav {
        height: 40px;
        margin: 20px;
        display: flex;
        justify-content: right;
        align-items: flex-end;

    }

        nav ul {
            display: flex;

        }

        nav li {
            margin: 0px 20px;
            display: flex;
            justify-content: flex-end;
        }

        li a {
            color: white;
            text-decoration:none;
        }

/* Hero */
.hero {
    display: block;
}

    .hero img {
        width: 100%;
    }

/* Flexbox */
main {
    margin: 20px 50px 20px 50px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

/* About Me, Portfolio, Contact */
.content {
    display: flex;
}

/* Left Column */
.title {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 20px;
    min-width: 300px;
    border-right: darkslategrey 8px solid;
}

/* Right Column */
.rightbox {
    display: flex;
    justify-content: space-between;
    padding:10px;
}
    /* About Me */
    #jbg {
        border-radius: 50%;
        margin:10px;
    }

    /* Portfolio Projects */
    #projects {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .projectPic {
        min-width:46%;
        margin: 6px;
        min-height: 250px;
        display: flex;
        align-items: flex-end;
        background-position: center;
    }

        #community-bulletin-board {
            background-image: url(../images/community.jpg);
            width: 100%;
            min-height:300px;
        }

        #featurecard {
            width: 46%;
            height:fit-content;
            /* width: fit-content; */
            overflow-wrap: break-word;
        }

        #futurepetplace {
            background-image: url(../images/futurepetplace.jpg);
        }

        #passwordGenerator {
            background-image: url(../images/lock.jpg);
        }

        #workday {
            background-image: url(../images/dayplanner.jpg);
        }

        #quizapp {
            background-image: url(../images/quiz.jpg);
        }

        #weather {
            background-image: url(../images/weather.jpg);
        }

        #employee-tracker {
            background-image: url(../images/server.jpg);
        }

        #ecommerce {
            background-image: url(../images/ecommerce.jpg);
        }

        #notetaker {
            background-image: url(../images/notetaker.jpg);
        }

        #team-generator {
            background-image: url(../images/teamgenerator.jpg);
        }

        #readme {
            background-image: url(../images/readme.jpg);
        }


    /* Project Title Cards */
    .cardtitle {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 10px 0px;
        width: 250px;
        height: 65px;
        color: white;
        background-color: rgb(33, 37, 37);
        border: solid 2px grey;
        margin: 0px 0px 15px 0px;
    }

        .cardtitle h2,p {
            margin: 0px 0px 5px 10px;
        }

        .cardtitle p {
            font-size: smaller;
        }

        .cardtitle h2 {
            color: white;
        }

        a {
            text-decoration: none;
        }

    /* Contact - Row 3 */
    #contactme {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }

    #contactlinks.rightbox {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

    }

    #contactlinks a {
        display: flex;
        color: darkslategrey;
    }

/* Footer */
footer {
    height: 100px;
    background-color: darkslategrey;
    color: white;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width:1000px) {

    header {
        width: auto;
        display: flex;
        height: auto;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    
    main {
        width: 100%;
        margin: 5px;
        padding: 0px;
        width: 100%;
    }
    
    /* About Me, Portfolio, Contact */
    .content {
        width: auto;
        margin:5px;
        flex-direction: column;
    }
    
    /* Left Column */
    .title {
        justify-content: center;
        border-right: none;
    }

    .title h1 {
        font-size:28px;
    }

    #featurecard {
        width: 60%;
    }
    
    /* Right Column */
    .rightbox {
        display: flex;
        padding:10px;
        width: 90%;
    }
        /* About Me */
        #jbg {
            border-radius: 50%;
            margin:10px;
        }
    
        /* Portfolio Projects */
        #projects {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }

    #contactme {
        flex-direction: column;
    }
}